@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


.projects {
    background: #B9AD86;
    position: relative;
    max-height: 100vh;
}


.container-fluid {
    height: 80vh;
    
}

.p_content {
    overflow-y: hidden;
    height: 80vh;
}


ul.nav-pills {
    top: 20px;
    position: absolute;
}
div.col-8 div {
    height: 600px;
    
}

















